.color-nav {
    background-color: #D2D3D5;
}

.nav-items {
    font-weight: 700 !important;
}

.main-container {
    background-color: #D2D3D5;
    width: 100%;
}

.main-img {
    margin-top: 1rem;
    margin-left: 20rem;
    width: 31.8rem;
}

.left-text {
    margin-left: -80rem;
    margin-bottom: -23rem;

}

.right-text {
    margin-left: 40rem;
}

.web-text-left {
    font-family: 'Montserrat';
    font-style: normal;
    color: #E0E0E0;
    font-size: 9.8rem;
    font-weight: 800;
    line-height: 7.7rem;
    letter-spacing: .4rem;
    position: absolute;
    width: 47rem;
    height: 50rem;
    left: -.5rem;
    top: 12rem;
}

.web-text-right {
    position: absolute;
    width: 31rem;
    height: 1rem;
    left: 58rem;
    top: 12.5rem;
    letter-spacing: .189rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3.3rem;
    line-height: 99%;
    color: #000000;
}

.submit-button-admin {
    position: absolute;
    width: 18rem;
    height: 2.8rem;
    left: 60rem;
    top: 28rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 103.5%;
    text-align: center;
    color: #000000;
}

.submit-button-company {
    position: absolute;
    width: 18rem;
    height: 2.8rem;
    left: 60rem;
    top: 33rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 103.5%;
    text-align: center;
    color: #000000;
}

.submit-button-register {
    position: absolute;
    width: 18rem;
    height: 2.8rem;
    left: 55rem;
    top: 25rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 103.5%;
    text-align: center;
    color: #000000;
}

/* New CSS Start */
.election-list {
    margin: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.election-list:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.election-item {
    display: flex;
    width: 90%;
    justify-content: center;
    border: none;
    padding: 1rem;
    background-color: #F9F9F9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.election-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.voting-ballot {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

.voting-title {
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
    font-size: large;
    font-weight: 800;
}

/* .voting-title:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
} */

.voting-contact {
    margin-top: 1rem;
}

/* New CSS End */

.title {
    margin: 3rem;
    padding: 2rem;
}