/* Reset margin and padding on the body */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.cascading-right {
  padding-top: -50px;
  margin-left: 30px;
  margin-right: -80px;
}

/* Style for the form container */
.main-container {
  color: #0089d6 !important;
}

.card.cascading-right {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
  height: 100%;
}

/* Style for the form elements */
.form-control {
  border-radius: 1.5rem;
}

/* Style for the Sign Up button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 1.5rem;
  padding: 0.75rem 2rem;
  margin: 1rem !important;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Style for the images on the right */
.img1-w-100 {
  max-width: 110% !important;
  padding: 2rem !important;
  height: 90vh;
}

/* Style for the card shadow */
.shadow-5 {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Center the card contents vertically */
.align-items-center {
  align-items: center !important;
}

/* Media query for small screens */
@media screen and (max-width: 1024px) {
  .img1-w-100 {
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .img1-w-100 {
    display: none;
  }
  .main-container {
    margin-left: -2rem !important;
  }
}
