.img1 {
    /* margin-top: 5rem; */
    margin-top: -1.5rem;
    margin-left: 15rem;
    width: 34.4rem;
}
.poll-left-text-1 {
    margin-left: -80rem;
    margin-bottom: -23rem;

}

.poll-right-text-1 {
    margin-left: 50rem;
}

.poll-text-1 {
    font-family: 'Montserrat';
    font-style: normal;
    color: #e7e5e5;
    font-size: 8.8rem;
    font-weight: 800;
    line-height: 7.7rem;
    letter-spacing: .68rem;
    position: absolute;
    width: 47rem;
    height: 50rem;
    left: -.5rem;
    top: 12rem !important;
}

.poll-text-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.3rem;
}

.poll-text-3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.3rem;
}

.poll-title-desc {
    width: 87%;
    border-radius: 2rem;
    border: solid #bebebe;
}

.poll-date {
    background: transparent;
    color: #6b6b6b;
    border-radius: .4rem;
}

.poll-cal {
    display: flex;
}

.poll-timer {
    display: flex;
}

.poll-time {
    background: transparent;
    color: #6b6b6b;
    border-radius: .4rem;
}

.poll-image {
    width: 2rem;
    height: 2rem;
}

.poll-submit {
    position: absolute;
    width: 8rem;
    height: 2.8rem;
    left: 59rem;
    top: 36.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 103.5%;
    text-align: center;
    color: #000000;
}