@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.admin-panel-container {
  background-color: #eeeeee !important;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
  min-height: 450px;
}

.admin-panel-container-2 {
  border-radius: 20px;
  background-color: #fefefe !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.main-img {
  margin-top: 4rem;
  margin-left: 20rem;
  width: 24.8rem;
  opacity: 0.8 !important;
}

.left-text {
  margin-left: -80rem;
  margin-bottom: 43rem !important;
}

.right-text {
  margin-left: 40rem;
}

.admin-panel-text-left {
  font-family: "Montserrat" !important;
  text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08) !important;
  font-style: normal;
  color: #000000 !important;
  font-size: 6rem !important;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 0.2rem;
  position: absolute;
  width: 47rem;
  height: 50rem;
  left: -6rem !important;
  top: 15rem !important;
}

.admin-panel-text-left > span {
  opacity: 0.2;
}

.admin-panel-text-right {
  position: absolute;
  width: 28rem;
  height: 1rem;
  left: 50rem !important;
  top: 9rem !important;
  letter-spacing: 0.189rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 99%;
  color: #000000;
}

.admin-panel-text-right-p {
  position: absolute;
  width: 21rem;
  height: 6rem;
  left: 54rem !important;
  top: 15.6rem !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 131%;
  color: #454545;
}

.admin-panel-text-right-p > span {
  font-weight: 700;
}

.admin-panel-button {
  position: absolute;
  width: 18rem;
  height: 2.8rem;
  left: 55rem;
  top: 26rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 103.5%;
  text-align: center;
  background-color: #0089d6 !important;
}

.nav-items {
  font-weight: 500 !important;
}

.admin-panel-item {
  display: flex;
  justify-content: center;
  border: none;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .admin-panel-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .admin-panel-container {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .admin-panel-container {
    margin-left: -1rem;
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .add-candidate-btn,
  .view-count-btn {
    margin-top: 15px !important;
    margin-left: -2rem !important;
    width: 8rem;
    font-size: 0.9rem;
  }

  .election-box {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 320px) {
  .admin-panel-container {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .add-candidate-btn,
  .view-count-btn {
    margin-top: 15px !important;
    margin-left: -5.2rem !important;
    width: 8rem;
    font-size: 0.8rem;
  }

  .election-box {
    width: 100%;
  }
}

.election-box {
  margin-top: -3rem;
  margin-bottom: -3rem;
  width: 120% !important;
  padding-bottom: -13rem;
  border: 10px;
  height: 20vh;
  /* background-color: #ffffff; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #0089d6; */
}

.election-name {
  font-family: "Poppins" !important;
  text-align: center;
}

.add-candidate-btn {
  margin-top: -6rem !important;
  width: 12rem;
}

.view-count-btn {
  margin-top: -4rem !important;
  width: 12rem;
  margin-left: -4rem;
}

.delete-election-btn {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 8rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

.small-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.small-btn:hover {
  background-color: #0056b3;
}

.button-container {
  /* margin-left: -5rem !important; */
  margin-top: -2rem;
  display: flex;
  justify-content: center;
}

/* .election-list {
  display: flex;
  flex-wrap: wrap;
}

.election-box {
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  max-width: 100%;
}

.add-candidate-btn,
.view-count-btn {
  margin-top: 10px;
}

.admin-panel-logout {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
} */
