.color-nav {
    background-color: #D2D3D5;
}

.nav-items {
    font-weight: 700 !important;
}

.img1 {
    /* margin-top: 5rem; */
    margin-top: -2.7rem;
    margin-left: 35rem !important;
    width: 35.4rem;
}

.admin-left-text-1 {
    margin-left: -80rem;
    margin-bottom: -23rem;

}

.admin-text-1 {
    font-family: 'Montserrat';
    font-style: normal;
    color: #e7e5e5;
    font-size: 8.8rem;
    font-weight: 800;
    line-height: 7.7rem;
    letter-spacing: .68rem;
    position: absolute;
    width: 47rem;
    height: 50rem;
    left: -.5rem;
    top: 12rem !important;
}

.admin-text-2 {
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 2.3rem;
    position: absolute; 
    left: 1rem;
    top: 32rem !important;
}

.container-2 {
    background: #D9D9D9;
    box-sizing: border-box;
    border: solid 1px #000000;
    margin: 4rem;
}

.election-1 {
    border: solid 1px #D2D3D5;
}

.election-img-1 {
    width: 27rem;
    height: 22rem;
    margin-left: 3rem;
}

.election-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    margin-top: -5rem !important;
}

.election-button {
    font-family: 'Montserrat';
    font-style: normal;
    background: #000000;
    border: 2px solid #000000;
    box-sizing: border-box;
    margin-top: 2.4rem;
    margin-left: 2rem;
    text-align: center;
    color: #FFFFFF;
    width: 12.4rem;
    height: 2.4rem;
    border-radius: 2rem;
}

/* New CSS Starts */
/* .contact {
    display: flex;
    flex-direction: column;
} */
.admin-panel-item {
    display: flex;
    justify-content: center;
    border: 2px solid #D9D9D9;
    padding-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.admin-panel-ballot {
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
}

.admin-panel-candidate-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 103.5%;
    text-align: center;
    color: #000000;
    border-radius: 2rem;
}

.admin-panel-container {
    margin: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.admin-panel-container-text {
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.admin-panel-item {
    display: flex;
    justify-content: center;
    border: 2px solid #D9D9D9;
    padding-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.admin-panel-ballot {
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
}

.admin-panel-candidate-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 103.5%;
    text-align: center;
    color: #000000;
    border-radius: 2rem;
}

.admin-panel-container {
    margin: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.admin-panel-container-text {
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
}

/* New CSS Ends */