.color-nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 1; */
}

.color-nav .nav-link:hover {
    color: #000;
}

.main-container {
    /* margin-top: 90px; */
    margin: 0;
    padding: 0;
}

.img-container {
    text-align: center;
}

.img-1 {
    margin-top: 2rem;
    width: 15rem;
    transition: transform 0.3s ease-in-out;
}

.img-1:hover {
    transform: scale(1.1);
}

.text-container {
    text-align: center;
}

.container-left-text {
    font-family: 'Montserrat';
    font-style: normal;
    color: #E0E0E0;
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 5.7rem;
    letter-spacing: .4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
}

.container-left-text:hover {
    color: black;
}

.container-right {
    margin-top: 2rem;
}

@media only screen and (max-width: 425px) {
    .color-nav .navbar-collapse {
        margin-top: 20px;
    }

    .color-nav .nav-link {
        padding: 10px 0;
        text-align: center;
    }

    .img-1 {
        margin-top: 2rem;
        width: 10rem;
    }

    .container-left-text {
        font-size: 2.8rem;
        line-height: 3.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .container-right {
        margin-left: 2rem;
        padding: 2rem;
        /* margin-top: 1rem; */
    }

    .main-container {
        overflow-x: hidden;
    }
}