.candidate-img {
    margin-top: 2rem;
    margin-left: 18rem;
    width: 28rem;
}

.candidate-left {
    margin-left: -33rem;
}

.candidate-left-text {
    font-family: 'Montserrat';
    font-style: normal;
    color: #E0E0E0;
    font-size: 7.8rem;
    font-weight: 800;
    line-height: 7.7rem;
    letter-spacing: .4rem;
    position: absolute;
    width: 47rem;
    height: 50rem;
    left: -.5rem;
    top: 8rem !important;
    z-index: 9999;
}

.candidate-right {
    margin-left: -15rem;
}

.candidate-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background: #E9E9E9;
    border: solid white;
    height: 2.2rem;
    width: 50%;
}

.candidate-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 700;
}

.candidate-submit {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    width: 22rem;
    border-radius: 2rem;
}