.color-nav {
    background-color: #D2D3D5 !important;
}

.slider {
    width: 100%;
}

.slider-slider {
    width: 100%;
}

.vote-election-img {
    width: 25rem;
}

.container-2-text {
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-weight: 800;
}

.container-3-text {
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
    font-weight: 900;
}

/* New CSS Start */
/* .vote-item {
    display: flex;
    justify-content: center;
    border: none;
    padding: 1rem;
    background-color: #F9F9F9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.vote-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.vote-ballot {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

.vote-button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: black;
     background-color: #000000; 
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.vote-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.vote-list {
    margin: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.vote-list:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
} */

/* New CSS End */

.vote-list {
    margin: 50px auto;
    width: 80%;
}

.collection {
    margin-top: 30px;
}

.vote-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact p {
    margin: 0;
}

.vote-button {
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

.vote-button:hover {
    background-color: #495057;
}