.login-img {
    width: 42rem !important;
    margin-top: 8rem;
    margin-left: 2rem !important;
}

.text-container {
    margin-left: 12rem;
    margin-top: 6rem !important;
}

.login-email {
    margin-bottom: 1.3rem;
}

.email-input {
    width: 100% !important;
    font-size: 1rem;
    padding: .5rem 3.55rem;
    border-bottom: solid 2px grey !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.email-input-label {
    margin-bottom: 2rem;
}

.password-input {
    width: 100% !important;
    font-size: 1rem;
    padding: .5rem 3.55rem;
    border-bottom: solid 2px grey !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.login-password {
    margin-bottom: 1.3rem;
}

.submit-button {
    font-size: 1rem !important;
    color: white;
    margin-top: 1.1rem !important;
    padding: .7rem 7.94rem !important;
    background-color: #3471f4;
    border-radius: .25rem;
    cursor: pointer;
    border: solid #3471f4;
}

.submit-button:hover {
    background-color: #0953f2;
}

